h1{
    text-align: center;
}
html{
    background-color: rgb(54, 54, 54);
}
article{
    color: beige;
    font-size: 18px;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
}
.properties__articles{
    font-weight: bold;
    text-decoration: underline;
}